@{
    ViewData["Title"] = "Ayuda";
}

<div class="contenedor-ayuda">
    <h1>Información Del Estudiante</h1>
    
    <div class="info-estudiante">
        <p><strong>Nombre:</strong> Carlos Manuel Lima y Lima</p>
        <p><strong>Carné:</strong> 202201524</p>
        <p><strong>Curso:</strong> Introducción a la Programación y Computación 2, Sección P</p>
        <p><strong>Carrera:</strong> Ingeniería en Ciencias y Sistemas</p>
        <p><strong>Semestre:</strong> Primer Semestre, 2026</p>
        
        <a href="https://github.com/manuelimal25-dotcom/IPC2-1S2026" 
            target="_blank" 
            class="enlace-documentacion">
            Abrir Documentación del Proyecto
        </a>
    </div>
</div>